@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    max-height: 100vh;
}
.signup-navbar {
    background-color: black;
    color: #eee;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
    position: fixed;
    margin-left: 32px;
    top: 7px;
}
.title:hover {
    cursor: pointer;
}
.login-instead {
    font-size: 1.1rem;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.login-instead a{
    text-decoration: none;
    margin-left: 3px;
}
.login-instead a:visited{
    color: blue;
}
.signup-form{
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid black;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    min-height: 50vh;
    font-size: 1.2rem;
    border-radius: 30px;
}
input{
    font: inherit;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    display: block;
}
input[type="text"]{
    width: 30%;
}
input[type="email"]{
    width: 50%;
}
input[type="password"] {
    width: 30%;
}
.signup-button{
    font: inherit;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
}
.signup-button:hover{
    background-color: green;
    color: #eee;
}
.errorLabel, .user-exists, .email-exists{
    color: red;
}
.signup-footer {
    color: black;
    font: inherit;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 45%;
}