* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.movie-item {
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 275px;
    height: 475px;
    border: #222831 2px solid;
}

.movie-item img {
    width: 100%;
    height:80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #393E46;
    color: #eee;
    padding: 2rem;
    position: absolute;
    max-height: 80%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview::-webkit-scrollbar {
    width: 7px;
}

.overview::-webkit-scrollbar-track {
    background: #393E46;
}

.overview::-webkit-scrollbar-thumb {
    background: #222831;
    border-radius: 4px;
    height: 4px;
}

.overview::-webkit-scrollbar-thumb:hover {
    background: black;
}
.movie-item:hover .overview {
    transform: translateY(0);
}