* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    font: inherit;
    background-color: inherit;
    margin-bottom: 5px;
}

.main-content {
    text-align: center;
    font-size: 35px;
    width: 100%;
    font-style: italic;
    color: #eee;
}