* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
}

.footer {
    display: block;
    color: black;
    font: inherit;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    min-height: 6vh;
    background-color: #373b69;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content:space-between;
}

.custom-pagination {
    display: flex;
    align-items: center;
}

.custom-pagination button {
    font-size: 1rem;
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #eee;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-pagination button:hover {
    background-color: #22254b;
    color: #eee;
}

.current-page {
    font-size: 1rem;
    margin: 0 5px;
    color: #eee;
}

.footer-copyright {
    color: #eee;
}