* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer {
    display: block;
    background-color: #222831;
    color: #eee;
    font: inherit;
    font-weight: bold;
    min-height: 6vh;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content:space-between;
}

.custom-pagination {
    display: flex;
    align-items: center;
}

.custom-pagination button {
    font-size: 1rem;
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #eee;
    color: #222831;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-pagination button:hover {
    background-color: #00ADB5;
    color: #eee;
}

.current-page {
    font-size: 1rem;
    margin: 0 5px;
}