* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    font: inherit;
    background-color: #222831;
    color: #eee;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 7vh;
}
.header .home{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px;
    min-width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.home:hover{
    background-color: #00ADB5;
    color: #eee;
}

select {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    max-width: fit-content;
    margin-right: 50px;
}
select option {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}
.header input:focus,
.header select:focus {
    outline: none;
    border: 2px solid #eee;
}
input{
    border: 2px #eee solid;
    color: #eee;
}
.logout {
    font: inherit;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.logout:hover {
    background-color: red;
    color: #eee;
}