@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
}

.title {
    font-size: 2rem;
    color: #eee;
}
.header{
    background-color: #373b69;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 7vh;
}
.header .home{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px;
    min-width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.header button:hover{
    background-color: #373b69;
    color: #eee;
}
.select-container {
    position: relative;
}

select {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    min-width: 150px;
    margin-right: 50px;
}
select option {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.header input:focus,
.header select:focus {
    outline: none;
    border: 2px solid #eee;
}