* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.no-movies-found{
    color: #eee;
}
.movie-list{
    margin-left: 1%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: fit-content;
}
