* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.no-movies-found {
    color: #eee;
}

.movie-list {
    margin: 0.1% auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}
@media screen and (max-width: 576px) {
    .movie-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 576px) {
    .movie-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 872px) {
    .movie-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1170px) {
    .movie-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1470px) {
    .movie-list {
        grid-template-columns: repeat(5, 1fr);
    }
}